
html {
  background-color: white;
}

body {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: black;
    background-attachment: fixed;
   justify-content: center;
   align-items: center;
   margin: 0;
  }

#head {
  padding-bottom:2vw;
  margin-left: 40px;
  margin-right: 50px;
  margin-top: 50px;
  /*outline: 1px solid black;*/
  background-color: white;
  background-image: url("h3.png");
  background-size: cover;
  border-radius: 4vh;
}


#title {
  margin-right: 40px;
  margin-left: 40px;
  font-size: 45px;
}

#subtitle {
  margin-right: 50px;
  margin-left: 43px;
  font-size: 25px;
}
#subtitle2 {
  margin-right: 50px;
  margin-left: 43px;
  font-size: 18px;
}
#s {
  margin-left: 30px;
}

#hdr {
  margin: 100px;
  font-size: 30px;
}

#txt {
  font-weight: 100;
    margin-left: 110px;
    margin-right: 110px;
    margin-top: 0px;
    margin-bottom: 0px;
    font-size: 20px;
    padding: 50px;
    border-radius: 40px;
}

#txt2 {
  margin-right: 100px;
  margin-left: 100px;
  margin-top: 70px;
  font-size: 18px;
  color: black;
}

#txtblack {
  margin: 70px;
  font-size: 25px;
  color: black;
}

#arrow {
  text-align: center;
  font-size: 100px;
}

img {
    max-block-size: 650px;
    border-radius: 20px;
    opacity: 1;
}

.gallery-container {
  /* TODO add styles (hint: use flex!) https://www.w3schools.com/cssref/ */
    display: flex;
    text-align: center;
    padding: 2vw;
    border-radius: 20px;
    align-self: center;
    margin: 0cm;
    width: fit-content;
    margin: auto;
}

.gallery-container:hover {
  /* TODO add styles (hint: use flex!) https://www.w3schools.com/cssref/ */
    display: flex;
    text-align: center;
    padding: 2vw;
    border-radius: 20px;
    align-self: center;
    margin: 0cm;
    width: fit-content;
    margin: auto;
    
}

.middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
  justify-self: center;
  margin: auto;
  font-size: 30px;
  color:black;
  font-weight: 500;
}

.gallery-container:hover img {
  opacity: 0.3;
}

.gallery-container:hover .middle {
  opacity: 1;
}