
html {
  background-color: white;
}

body {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: black;
    background-attachment: fixed;
   justify-content: center;
   align-items: center;
   margin: 0;
  }

#head {
  padding-bottom:2vw;
  margin-left: 80px;
  margin-right: 80px;
  margin-top: 30px;
  outline: 1px solid black;
  background-color: white;
  background-image: url("head2.png");
  background-size: cover;
  border-radius: 2vh;
}


#title {
  margin-right: 40px;
  margin-left: 40px;
  font-size: 45px;
}

#subtitle {
  margin-right: 50px;
  margin-left: 43px;
  font-size: 30px;
}
#subtitle2 {
  margin-right: 50px;
  margin-left: 43px;
  font-size: 18px;
}
#s {
  margin-left: 30px;
}

#hdr {
  margin: 100px;
  font-size: 30px;
}

#txt {
  font-weight: 300;
    margin-left: 130px;
    margin-right: 130px;
    margin-top: 0px;
    margin-bottom: 0px;
    font-size: 21px;
    padding: 50px;
    border-radius: 40px;
}

#txt2 {
  margin-right: 100px;
  margin-left: 100px;
  margin-top: 70px;
  font-size: 18px;
  color: black;
}

#txtblack {
  margin: 70px;
  font-size: 25px;
  color: black;
}

#arrow {
  text-align: center;
  font-size: 100px;
}

img {
    max-block-size: 600px;
    border-radius: 20px;
}

.gallery-container {
  /* TODO add styles (hint: use flex!) https://www.w3schools.com/cssref/ */
    display: flag;
    text-align: center;
    flex-basis: 1 1 auto;
    padding: 3vw;
    border-radius: 20px;
    justify-self: center;
    justify-content: center;
    align-self: center;
    align-items: center;
    margin: 0cm;
}

.gallery-container1 {
    /* TODO add styles (hint: use flex!) https://www.w3schools.com/cssref/ */
    display: flag;
    text-align: center;
    flex-basis: 1 1 auto;
    scale: 0.5;
    margin-bottom: 0px;
    outline: 4px solid rgb(244, 222, 252);
    width: fit-content;
    justify-self: center;
    padding: 3vw;
  }

  .gallery-container2 {
    /* TODO add styles (hint: use flex!) https://www.w3schools.com/cssref/ */
    display: flag;
    text-align: center;
    flex-basis: 1 1 auto;
    margin-bottom: 0px;
    margin-top: 40px;
    outline: 4px solid rgb(244, 222, 252);
    width: fit-content;
    padding: 3vw;
    margin-left: 100px;
    align-self: center;
    border-radius: 20px;
  }

  .gallery-container3 {
    /* TODO add styles (hint: use flex!) https://www.w3schools.com/cssref/ */
    display: flag;
    text-align: center;
    flex-basis: 1 1 auto;
    margin-bottom: 0px;
    margin-top: 40px;
    background-color: white;
    width: fit-content;
    padding: 2vw;
  }